body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    color: #7c2f68;
  }
  
  input[type="text"] {
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #333333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  .deleteButton {
    background-color: #ff0000;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  